// Text to uppercase

%uppercase {
	text-transform: uppercase;
}


// Height

%full-height {
	height: 100%;
}

%input-height {
	height: 3rem;
}


// Width

%full-width {
	width: 100%;
}


// Margin

%margin-general-left {
	margin-left: 35px;
}

%margin-general-right {
	margin-right: 35px;
}