// Color variables 

$white				: #fff;
$primary			: #9A0000;
$secondary			: #f2f2f2;
$tertiary			: #A9A9A9;
$text-color			: #6b6565;
$input-border		: lightgrey;
$twitter			: #4099FF;
$facebook			: #3B5998;
$google-plus		: #dd4b39;


// Media query breakpoints

$brk-narrow		: '(min-width: 768px)';
$brk-wide		: '(min-width: 920px)';
$brk-max		: '(min-width: 1024px)';


// Font sizes

$font-small 	: 14px;
$font-medium	: 16px;